body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body.kitchen {
  background-image: url(./assets/background/kitchen.jpg);
}
body.buffet {
  background-image: url(./assets/background/buffet.jpg);
}

.avatar-success {
  background-color: green !important ;
}

.avatar-warning {
  background-color: red !important;
}
