/*
 * WARNING
 *
 * THIS FILE WILL BE DEPRECATED
 * PLEASE AVOID ADDITIONAL CSS RULES
 *
 * @todo: transfer the rules to MUI
 */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a.sunGlow {
  color: #FFCB4C;
  text-decoration: none
}

.avatar-success {
  background-color: green !important ;
}

.avatar-warning {
  background-color: red !important;
}
